<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470642156929-gipcb5tq27034r1rr3hevu4i97n6re7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470642156929-gipcb5tq27034r1rr3hevu4i97n6re7q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>470642156929-0mobmfsn6j6uj10ufcna5vsfvcloasie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhj_3ZbFFcDj0QuJRXTK-Y6HzyJdHjZYE</string>
	<key>GCM_SENDER_ID</key>
	<string>470642156929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appbline.app</string>
	<key>PROJECT_ID</key>
	<string>love-is-not-enough</string>
	<key>STORAGE_BUCKET</key>
	<string>love-is-not-enough.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470642156929:ios:949b49c99b05940d983480</string>
</dict>
</plist>